#navItem1{
    color: #323f4b;
    font-family: "Roboto";
 }
 
 
 #navItem2{
    color: #323f4b;
    font-family: "Roboto";
 }
 
 
 #navItem3{
    color: #323f4b;
    font-family: "Roboto";
 }
 
 
 #navItem4{
    color: #323f4b;
    font-family: "Roboto";
 }
 
 
 .nav-pic{
    padding: 5px;
    width: 80px;
    height: 70px;
 
 }
 
 .navbar-nav-align{
    margin-left: auto;
 }
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(blur.jpg);
    background-size: cover;
}

.login-container {
    width: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"],
input[type="password"],
button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.error-msg {
    color: red;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

